<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='chrome=1'>

		<title>Skycal by nevar</title>

		<script type='text/x-template' id='skill-template'>
			<img class='skill' @click='findSkill(skill)'
				:src='"images/nodes/" + skill.nodeImage + ".png"'></img>
		</script>
		<script type='text/x-template' id='stat-template'>
			<svg class='unselectable' width='112' height='28'>
				<circle class='open' cx='14' :cy='14' r='12'
					:fill='nodeImage(stat.node[0])'
					@click='findStat(stat, true, false)'/>
				<circle v-if='atlas.sparks.revelation'
					class='open' cx='42' :cy='14' r='12'
					fill='url(#revelation)'
					@click='findStat(stat, true, true)'/>
				<circle cx='70' :cy='14' r='12' :fill='nodeImage(stat.node[0])'
					@click='findStat(stat, false, false)'/>
				<circle v-if='atlas.sparks.revelation'
					cx='98' :cy='14' r='12' fill='url(#revelation)'
					@click='findStat(stat, false, true)'/>
			</svg>
		</script>
		<script type='text/x-template' id='node-template'>
			<circle
				:class='
					{ "open": node.data.open
					, "hover": node.data.hover
					, "want": node.data.want
					, "big": $parent.isBig
					}'
				:cx='node.position.x' :cy='node.position.y'
				:r='radius(node)' :fill='nodeImage(node)'
				@mouseover='hoverNode(node)'
				@mouseout='unHoverNode(node)'
				@click='getNode(node)'
				@contextmenu.stop.prevent='findPath(node)'
				/>
		</script>
		<script type='text/x-template' id='edge-template'>
			<path v-if='edge.classes == "curve"'
				:class='
					{ "open": edge.data.open
					, "hover": edge.data.hover
					, "want": edge.data.want
					}'
				:d='"M " + nodePos[edge.data.source].x + " " + nodePos[edge.data.source].y +
					"Q " + ((nodePos[edge.data.target].x + nodePos[edge.data.source].x) / 2 - (nodePos[edge.data.target].y - nodePos[edge.data.source].y) / 3) +
					" " + ((nodePos[edge.data.target].y + nodePos[edge.data.source].y) / 2 + (nodePos[edge.data.target].x - nodePos[edge.data.source].x) / 3) +
					" " + nodePos[edge.data.target].x + " " + nodePos[edge.data.target].y'
				/>
			<line v-else
				:class='
					{ "open": edge.data.open
					, "hover": edge.data.hover
					, "want": edge.data.want
					, "between": edge.classes == "between" && $parent.isBig
					}'
				:x1='nodePos[edge.data.source].x' :y1='nodePos[edge.data.source].y'
				:x2='nodePos[edge.data.target].x' :y2='nodePos[edge.data.target].y'
				/>
		</script>
		<script type='text/x-template' id='atlas-template'>
			<g :transform='"translate(" + atlas.mX + "," + atlas.mY + ") scale(" + atlas.scale + ")"'>
				<edge v-for='edge in atlas.edges' :edge.once='edge' :node-pos.once='atlas.nodePos'></edge>
				<node v-for='node in atlas.nodes' :node.once='node'></node>
			</g>
		</script>

		<link rel='stylesheet' type='text/css' href='stylesheets/vendor/jquery.qtip.min.css' media='screen'>
		<link rel='stylesheet' type='text/css' href='stylesheets/stylesheet.css' media='screen'>
		<link rel='stylesheet' type='text/css' href='stylesheets/svg.css' media='screen'>
	</head>
<body>
	<div id='container' @mousemove='atlasMove' @mouseup='mouseUp'>
		<div id='left'>
			<div id='select_atlas'>
				<select v-model='selected'>
					<option selected value='0'>Атлас Развития</option>
					<option value='1'>Божественный атлас</option>
					<optgroup label='Специализации'>
						<option value='2'>Бог власти</option>
						<option value='3'>Бог войны</option>
						<option value='4'>Бог знаний</option>
						<option value='5'>Бог обороны</option>
						<option value='6'>Бог охоты</option>
						<option value='7'>Бог странствий</option>
					</optgroup>
					<optgroup label='Вторжения'>
						<option value='8'>Фитониды</option>
						<option value='9'>Механоиды</option>
						<option value='10'>Горгониды</option>
						<option value='11'>Жнецы смерти</option>
						<option value='12'>Океаниды</option>
						<option value='13'>Демоны</option>
					</optgroup>
				</select>
			</div>
			<div id='atlas'>
				<svg
					@mousedown.stop.prevent='mouseDown'
					@wheel.stop.prevent='atlasScale'>
					<defs>
						<pattern v-for='image in images'
							id='{{* image }}'
							x='5%' y='5%' height='90%' width='90%'
							viewBox='0 0 50 50'>
							<image x='0%' y='0%' width='50' height='50'
								v-bind='{"xlink:href": "images/nodes/" + image + ".png"}'>
							</image>
						</pattern>
						<pattern v-for='spark in sparks'
							id='{{* spark }}'
							x='5%' y='5%' height='90%' width='90%'
							viewBox='0 0 50 50'>
							<image x='0%' y='0%' width='50' height='50'
								v-bind='{"xlink:href": "images/spark/" + spark + ".png"}'>
							</image>
						</pattern>
					</defs>
					<atlas
						v-for='atlas in atlases' v-show='selected == $index'
						:atlas='atlas'>
					</atlas>
				</svg>
			</div>
			<div id='box'></div>
			<div id='need' v-cloak>
				<div v-for='atlas in atlases' v-show='selected == $index'>
					<div class='need_spark'
						v-for='(name, spark) in atlas.sparks'>
						<img :src='"images/spark/" + name + ".png"'></img>
						{{ need[name] }}/{{ spark[0] }}/{{ spark[1] }}
					</div>
				</div>
			</div>
		</div>
		<div id='right' v-cloak>
				<div v-for='atlas in atlases' v-show='selected == $index'>
					<div v-for='(name, stat) in atlas.stat'>
						{{* statName[name] }}: <span>{{ recive[name] }}</span>/<span>{{ stat[0] }}</span>/<span>{{* stat[1] }}</span>
						<br/>
						<stat v-if='atlas.group.stat[name]'
							:stat.once='atlas.group.stat[name]'
							:atlas.once='atlas'>
						</stat>
					</div>
					<hr>
					<span v-for='skill in atlas.group.skill | orderBy "title"'>
						<skill :skill.once='skill' :atlas.once='atlas'></skill>
					</span>
				</div>
		</div>
		<script src='javascripts/vendor/jquery-1.11.3.min.js'></script>
		<script src='javascripts/vendor/jquery.qtip.min.js'></script>
		<script src='javascripts/b64.js'></script>
		<script src='javascripts/vue.js'></script>
		<script src='javascripts/cytoscape.min.js'></script>
		<script src='javascripts/main_atlas.js'></script>
		<script src='javascripts/god_atlas.js'></script>
		<script src='javascripts/fitonidy_atlas.js'></script>
		<script src='javascripts/mehanoydy_atlas.js'></script>
		<script src='javascripts/gorgonidy_atlas.js'></script>
		<script src='javascripts/main.js'></script>
	</div>
</body>
</html>
