body {
	margin: 0;
	padding: 0;
	background: #151515 url("../images/bkg.png") 0 0;
	color: #eaeaea;
	font-size: 16px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

table {
	width: 100%;
	margin: 0 0 0 0;
}

hr {
	height: 0;
	border: 0;
	border-bottom: 1px dashed #b5e853;
	color: #b5e853;
}

html, body {
	height: 100%;
}

.tooltip-title img,
.stat img {
	vertical-align: middle;
}

#tooltip {
	position: fixed;
	left: 39.5%;
	top: 44.5%;
}

.stat span {
	float: right;
	margin-left: 10px;
}

.cost img {
	vertical-align: middle;
}

.cost span {
	float: right;
	margin-left: 10px;
}

div.stat {
	background-color: grey;
	padding: 5px;
	margin: 0 0 5px 0;
}

.qtip {
	max-width: 25%;
	min-width: 300px;
	opacity: 0.80;
}

#left {
	width: 79%;
	height: 100%;
	float: left;
}

#select_atlas {
	height: 5%;
	float: top;
}

#atlas {
	height: 79%;
	width: 100%;
	border: 1px solid gray;
	float: left;
}

#atlas svg {
	height: 100%;
	width: 100%;
}

#need {
	height: 15%;
	margin: 0 0;
	text-align: right;
	clear: both
}

#right {
	float: right;
	height: 100%;
	width: 20%;
	overflow: auto;
}

#right .stat {
	height: 1.2em;
	width: 1.2em;
}

#right .skill {
	height: 2.0em;
	width: 2.0em;
}

table div {
	display: inline-block;
}

#need img {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

[v-cloak] {
	display: none;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.need_spark {
	display: inline-block;
	padding: 0 5px 0 5px;
	border-left: 1px dashed #b5e853;
}

.polish_cell {
	padding: 5px 5px 5px 5px;
}

.polish_cell img {
	vertical-align: middle;
}

.polish_cell span {
	float: right;
	text-align: right;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

label {
	white-space: nowrap;
}

.qtip-content p {
	margin: 0 0 0 0;
}
