g {
    stroke: grey;
    stroke-width: 2;
    fill: none;
}

.open {
    stroke: yellow;
}

.want {
    stroke: #0066CC;
}

.open.hover {
    stroke: red;
}

.hover {
    stroke: yellow;
    stroke-dasharray: 10, 5;
}

.big .hover {
    stroke-dasharray: 50, 30;
}

.big * {
    stroke-width: 10;
    display: none;
}

.big .node, .big .between {
    display: inline;
}

.polish_0 {
    stroke: none;
}

.polish_1 {
    stroke-dasharray: 0 4.45058 26.7035 1000;
}

.polish_2 {
    stroke-dasharray: 0 4.45058 26.7035 8.9012 26.7035 1000;
}

.polish_3 {
    stroke-dasharray: 0 4.45058 26.7035 8.9012 26.7035 8.9012 26.7035 1000;
}

.node.polish_1 {
    stroke-dasharray: 0 6.545 39.27 1000;
}

.node.polish_2 {
    stroke-dasharray: 0 6.545 39.27 13.09 39.27 1000;
}

.node.polish_3 {
    stroke-dasharray: 0 6.545 39.27 13.09 39.27 13.09 39.27 1000;
}

.big .node.polish_1 {
    stroke-width: 25;
    stroke-dasharray: 0 40.579 243.47 1000;
}

.big .node.polish_2 {
    stroke-width: 25;
    stroke-dasharray: 0 40.579 243.47 81.158 243.47 1000;
}

.big .node.polish_3 {
    stroke-width: 25;
    stroke-dasharray: 0 40.579 243.47 81.158 243.47 81.158 243.47 1000;
}
