body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

table {
  width: 100%;
  margin: 0 0 0 0;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

html, body {
    height: 100%;
}

.tooltip-title img,
.stat img {
	vertical-align: middle;
}

.stat span {
	float: right;
	margin-left: 10px;
}

.cost img {
	vertical-align: middle;
}

.cost span {
	float: right;
	margin-left: 10px;
}

div.stat {
	background-color: grey;
	padding: 5px;
}

.qtip {
	max-width: 25%;
	min-width: 300px;
	opacity: 0.80;
}

#left {
	width: 79%;
	height: 100%;
	float: left;
}

#select_atlas {
	height: 5%;
	float: top;
}

#atlas {
	height: 79%;
	width: 100%;
	border: 1px solid gray;
	float: left;
}

#atlas svg {
	height: 100%;
	width: 100%;
}

#need {
	height: 15%;
	margin: 0 0;
	text-align: right;
	clear: both
}

#right {
	float: right;
	height: 100%;
	width: 20%;
	overflow: auto;
}

#right .stat {
	height: 1.2em;
	width: 1.2em;
}

#right .skill {
	height: 2.0em;
	width: 2.0em;
}

table div {
	display: inline-block;
}

#need span {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
}

span.red {
	background-image: url("../images/spark/red.png");
}

span.green {
	background-image: url("../images/spark/green.png");
}

span.blue {
	background-image: url("../images/spark/blue.png");
}

span.all {
	background-image: url("../images/spark/all.png");
}

span.revelation {
	background-image: url("../images/spark/revelation.png");
}

span.fitonidy {
	background-image: url("../images/spark/fitonidy.png");
}

span.god {
	background-image: url("../images/spark/god.png");
}

span.book {
	background-image: url("../images/spark/book.png");
}

span.secretKnowledge {
	background-image: url("../images/spark/secretKnowledge.png");
}

span.transformation {
	background-image: url("../images/spark/transformation.png");
}

span.mehanoydy {
	background-image: url("../images/spark/mehanoydy.png");
}

span.gorgonidy {
	background-image: url("../images/spark/gorgonidy.png");
}

.hidden {
	display: none;
}
