circle {
	stroke: grey;
	stroke-width: 2;
}

circle.open {
	stroke: yellow;
	stroke-width: 3;
}

circle.big {
	stroke-width: 10;
}

circle.open.big {
	stroke-width: 12;
}

circle.want {
	stroke: #0066CC;
}

circle.hover {
	stroke: yellow;
	stroke-dasharray: 10, 5
}

circle.big.hover {
	stroke-dasharray: 50, 30
}

circle.open.hover {
	stroke: red;
}

line, path {
	stroke: grey;
	stroke-width: 2;
	fill: none
}

path.open, line.open {
	stroke: yellow;
}

line.between {
	stroke-width: 10;
}

path.want, line.want {
	stroke: #0066CC;
}

path.hover, line.hover {
	stroke: yellow;
	stroke-dasharray: 10, 5
}

line.hover.between {
	stroke-dasharray: 50, 30
}

path.open.hover, line.open.hover {
	stroke: red;
}

circle.polish_0 {
	stroke: none;
}

circle.polish_1 {
	stroke: yellow;
	stroke-dasharray: 0 4.45058 26.7035 1000;
}

circle.polish_2 {
	stroke: yellow;
	stroke-dasharray: 0 4.45058 26.7035 8.9012 26.7035 1000;
}

circle.polish_3 {
	stroke: yellow;
	stroke-dasharray: 0 4.45058 26.7035 8.9012 26.7035 8.9012 26.7035 1000;
}

circle.want_polish_0 {
	stroke: none;
}

circle.want_polish_1 {
	stroke: #0066CC;
	stroke-dasharray: 0 4.45058 26.7035 1000;
}

circle.want_polish_2 {
	stroke: #0066CC;
	stroke-dasharray: 0 4.45058 26.7035 8.9012 26.7035 1000;
}

circle.want_polish_3 {
	stroke: #0066CC;
	stroke-dasharray: 0 4.45058 26.7035 8.9012 26.7035 8.9012 26.7035 1000;
}
